@import url(//db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);

@tailwind base;
@tailwind components;
@tailwind utilities;



  body {
    min-height: 800px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E4E4E4 !important;
}
